<h2>Customers</h2>

<table class="table table-striped"> 
  <thead> 
    <tr> 
      <th>Id</th> 
      <th>Name</th> 
      <th>E-mail</th> 
      <th>Phone</th> 
      <th>Birthday</th> 
      <th></th> 
    </tr> 
  </thead> 
  <tbody> 

    <tr ng-repeat="c in customers">
      <td>
         <a ui-sref="default.customer_detail({id : c.id})"># {{c.id}}</a>
      </td> 
      <td>{{c.name}}</td> 
      <td>{{c.email}}</td> 
      <td>{{c.phone}}</td> 
      <td>{{c.birthday | date:short  }}</td>
      <td>
        <button class="btn btn-default" ng-click="newCustomer(c)">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </button>
      </td>
    </tr>

  </tbody>
</table>

<button class="btn btn-primary" type="button" ng-click="newCustomer();">New customer</button>