<h2>Customers</h2>

<table class="table table-striped"> 
  <thead> 
    <tr> 
      <th>Name</th> 
      <th>E-mail</th> 
      <th>Phone</th> 
      <th>Credit (R$)</th> 
    </tr> 
  </thead> 
  <tbody> 

    <tr ng-repeat="c in customers">
      <td>{{c.name}}</td> 
      <td>{{c.email}}</td> 
      <td>{{c.phone}}</td> 
      <td>{{c.credit | currency:NUMBER_FORMATS.CURRENCY_SYM  }}</td>
    </tr>
    
  </tbody>
</table>

<button class="btn btn-primary" type="button" ng-click="newCustomer();">New customer</button>