<div class="container-fluid">
  
  <div class="row">
    
    <div class="col-xs-12 col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a ui-sref="default.home" ui-sref-active="active">Home</a></li>
        <li role="presentation"><a ui-sref="default.customers" ui-sref-active="active">Customers</a></li>
        <li role="presentation"><a ui-sref="default.orders" ui-sref-active="active">Orders</a></a></li>
        <li role="presentation"><a ui-sref="default.products" ui-sref-active="active">Products</a></li>
      </ul>
    </div>
  
    <div class="col-xs-12 col-md-10">
      
      <ui-view></ui-view>

    </div>
    
  </div>

</div>