<h2>Orders</h2>

<table class="table table-striped"> 
  <thead> 
    <tr> 
      <th>Order</th> 
      <th>Customer</th> 
      <th>Product</th> 
      <th>Qtde</th> 
      <th>Price (R$)</th> 
    </tr> 
  </thead> 
  <tbody> 

    <tr ng-repeat="p in purchases">
      <td># {{p.order.id}}</td> 
      <td>{{p.customer.name}}</td> 
      <td>{{p.product.name}}</td> 
      <td>{{p.order_detail.quantity}}</td> 
      <td>{{p.order_detail.quantity * p.order_detail.unit_price | currency:NUMBER_FORMATS.CURRENCY_SYM }}</td>
    </tr>
    
  </tbody>
</table>

<button class="btn btn-primary" type="button" ng-click="newOrder();">New order</button>