<h2>Orders</h2>

<table class="table table-striped"> 
  <thead> 
    <tr> 
      <th>Order</th> 
      <th>Customer</th> 
      <th>Date</th> 
      <th>Paid (R$)</th> 
      <th>Total (R$)</th> 
    </tr> 
  </thead> 
  <tbody> 

    <tr ng-repeat="p in purchases">
      <td>
<!--        <a href="" ng-click="editOrder(p.order.id);"># {{p.order.id}}</a>-->
        <a ui-sref="default.detail({order_id : p.order.id})"># {{p.order.id}}</a>
      </td> 
      <td>{{p.customer.name}}</td> 
      <td>{{p.order.order_date}}</td> 
      <td>{{p.order.paid}}</td> 
      
      <td>{{p.order_detail.quantity * p.order_detail.unit_price | currency:NUMBER_FORMATS.CURRENCY_SYM }}</td>
    </tr>
    
  </tbody>
</table>

<!--<button class="btn btn-primary" type="button" ng-click="newOrder();">New order</button>-->
<a ui-sref="default.detail">New order</a>

<button class="btn btn-default btn-sm" type="button" ng-click="newOrder()">New order</button>