
<form name="form_product">    
  <div class="modal-header">   

    <h3 ng-if="!order_id" class="modal-title">
      New order
    </h3>
    <h3 ng-if="order_id" class="modal-title">
      Order #{{order_id}}
    </h3>
  </div>

  <div class="modal-body">
    <div class="row">

        <div class="col col-md-12">


        <div class="col col-md-6">
          <p>
            <strong>ID #</strong> {{customer.id}}
          </p>
          <p>
            <strong>Nome: </strong> {{customer.name}}
          </p>
          <p>
            <strong>E-mail: </strong> {{customer.email}}
          </p>
          <p>
            <strong>Phone: </strong> {{customer.phone}}
          </p>

          <p>
            <strong>Credit </strong> {{customer.credit | currency:NUMBER_FORMATS.CURRENCY_SYM }}
          </p>  
        </div>


        <div class="col col-md-6">

          <p>
            <strong>Paid:</strong> {{order.paid | currency:NUMBER_FORMATS.CURRENCY_SYM }}
          </p>
          <p>
            <strong>Required date: </strong> {{order.required_date | date:short }}
          </p>
          <p>
            <strong>Shipped date: </strong> {{order.shipped_date | date:short}}
          </p>

        </div>
      
      </div>

        <hr>


        <h3>List of product</h3>

        <table class="table">
          <thead>
            <tr>
              <th>Product</th>
              <th>Price</th>
              <th>Amount</th>
              <th>Discount</th>
              <th>Total</th>
              <th></th>
            </tr>
          </thead>
          <tbody>

            <tr>
              <td colspan="6" class="text-center">
                <strong >No products</strong>
              </td>
            </tr>
            
            <tr ng-repeat="od in order_detail">
              
              <td>{{getProductName(od.id_product) | uppercase }}</td>
              <td>{{od.unit_price | currency:NUMBER_FORMATS.CURRENCY_SYM}}</td>
              <td>{{od.quantity}}</td>
              <td>{{od.discount | currency:NUMBER_FORMATS.CURRENCY_SYM}}</td>
              <td>{{(od.unit_price * od.quantity) - od.discount | currency:NUMBER_FORMATS.CURRENCY_SYM}}</td>

              <td>
                <button class="btn btn-default" ng-click="removeProduct(od)">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
                <button class="btn btn-default" ng-click="addProduct(od)">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
              </td>
            </tr>

          </tbody>
        </table>

        <button class="btn btn-default btn-sm" type="button" ng-click="addProduct()">Add product</button>

      </div>

    </div>
 
  <div class="modal-footer">      
    
  </div>


</form>  



