<h2>Orders</h2>

<table class="table table-striped"> 
  <thead> 
    <tr> 
      <th>Order</th> 
      <th>Customer</th> 
      <th>Date</th> 
      <th>Paid (R$)</th> 
      <th>Total (R$)</th> 
      <th></th>
    </tr> 
  </thead> 
  <tbody> 

    <tr ng-repeat="p in purchases | orderBy:'-order.id'">
      <td>
        <a ui-sref="default.detail({order_id : p.order.id})"># {{p.order.id}}</a>
      </td>
      <td>{{p.customer.name}}</td> 
      <td>{{p.order.order_date| date:short }}</td> 
      <td>{{p.order.paid| currency:NUMBER_FORMATS.CURRENCY_SYM }}</td> 
      <td> {{ p.total | currency:NUMBER_FORMATS.CURRENCY_SYM }}</td>
      <td>
        <button class="btn btn-default" ng-click="newOrder(p.order)">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </button>
      </td>
    </tr>

  </tbody>
</table>

<button class="btn btn-primary btn-sm" type="button" ng-click="newOrder()">New order</button>