
<form name="form_product">    
  <div class="modal-header">   

    <h3 ng-if="!order_id" class="modal-title">
      New order
    </h3>
    <h3 ng-if="order_id" class="modal-title">
      Order #{{order_id}}
    </h3>
  </div>

  <div class="modal-body">
    <div class="row">

      <div class="col col-md-12">


        <div class="col col-md-6">
          <p><strong>CUSTOMER</strong></p>
          <p>
            <strong>ID #</strong> {{customer.id}}
          </p>
          <p>
            <strong>Nome: </strong> {{customer.name}}
          </p>
          <p>
            <strong>E-mail: </strong> {{customer.email}}
          </p>
          <p>
            <strong>Phone: </strong> {{customer.phone}}
          </p>

          <p>
            <strong>Birthday: </strong> {{customer.birthday| date:short }}
            <span ng-if="!customer.birthday">Not informed</span>
          </p>  
        </div>


        <div class="col col-md-6">
          <p><strong>RESUME</strong></p>

          <table class="table">
            <tbody>
              <tr>
                <td><strong>Paid</strong></td>
                <td class="text-success">{{purchase.total_paid | currency:NUMBER_FORMATS.CURRENCY_SYM }}</td>
              </tr>
              <tr>
                <td><strong>Change</strong></td>
                <td class="text-danger">-{{purchase.total_change | currency:NUMBER_FORMATS.CURRENCY_SYM }}</td>
              </tr>
              <tr>
                <td><strong>Total order</strong></td>
                <td>{{purchase.total_order | currency:NUMBER_FORMATS.CURRENCY_SYM }}</td>
              </tr>

              <tr ng-if="purchase.total_credit < 0" class="danger">
                <td><strong>Debit</strong></td>
                <td>{{purchase.total_credit | currency:NUMBER_FORMATS.CURRENCY_SYM }}</td>
              </tr>

              <tr ng-if="purchase.total_credit >= 0" class="success">
                <td><strong>Credit</strong></td>
                <td>{{purchase.total_credit | currency:NUMBER_FORMATS.CURRENCY_SYM }}</td>
              </tr>

            </tbody>

            
          </table>
                 
          
          <!--
          <p>
            <strong>Required date: </strong> {{order.required_date| date:short }}
          </p>
          <p>
            <strong>Shipped date: </strong> {{order.shipped_date| date:short}}
            <span ng-if="!order.shipped_date">Not informed</span>
          </p>
          -->
        </div>

      </div>

      <hr>

      <div>

        <h4>Adjustments</h4>
        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Credit</th>
              <th>Change</th>
              <th></th>
            </tr>
          </thead>
          <tbody>

            <tr ng-repeat="a in adjustments">
              <td>
                {{a.date | date:short }}
              </td>
              <td>
                {{a.credit | currency:NUMBER_FORMATS.CURRENCY_SYM }}
              </td>
              <td>
                {{a.change | currency:NUMBER_FORMATS.CURRENCY_SYM }}
              </td>
              <td>
                <button class="btn btn-default" ng-click="deleteAdjustment(a, $index)">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>

              </td>

            </tr>
            <tr>
              <td colspan="3" class="text-center">
                <p ng-if="adjustments.length == 0">No payment made.</p>
                <p ng-if="adjustments.length > 0">Add adjustment.</p>
              </td>
              <td>
                
                <button class="btn btn-default" ng-click="openAdjustment()">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                
              </td>
            </tr>
          </tbody>
        </table>

      </div>

      <div>

        <hr>

        <h4>Products sold</h4>

        <table class="table">
          <thead>
            <tr>
              <th>Product</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Discount</th>
              <th>date</th>
              <th>Total</th>
              <th></th>
            </tr>
          </thead>
          <tbody>

            <tr ng-if="order_detail.length < 1">
              <td colspan="6" class="text-center">
                <strong>No products</strong>
              </td>
            </tr>

            <tr ng-repeat="od in order_detail">

              <td>{{getProductName(od.id_product) | uppercase}}</td>
              <td>{{od.unit_price| currency:NUMBER_FORMATS.CURRENCY_SYM}}</td>
              <td>{{od.quantity}}</td>
              <td>{{od.discount | currency:NUMBER_FORMATS.CURRENCY_SYM}}</td>
              <td>{{od.date | date:short }}</td>
              <td>{{(od.unit_price * od.quantity) - od.discount | currency:NUMBER_FORMATS.CURRENCY_SYM}}</td>

              <td>
                <button class="btn btn-default" ng-click="removeProduct(od)">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
                <button class="btn btn-default" ng-click="addProduct(od)">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
              </td>
            </tr>

            <tr>
              <td colspan="4">
                <button class="btn btn-default btn-sm" type="button" ng-click="addProduct()">Add product</button>        
              </td>
              <td colspan="3">
                <strong><i>Total: {{purchase.total_order| currency:NUMBER_FORMATS.CURRENCY_SYM }} </i></strong>        
              </td>
            </tr>

          </tbody>
        </table>
      </div>



    </div>

  </div>

  <div class="modal-footer">      

  </div>


</form>  



